
*.o
*.d
Wii64(fix94)/en_lang.h
Wii64(fix94)/FontCn_IA8_N64_dat.h
Wii64(fix94)/zh_lang.h
Wii64(fix94)/wii64-glN64.dol
Wii64(fix94)/wii64-glN64.elf
Wii64(fix94)/wii64-glN64.elf.map
mednafen/boot.dol
mednafen/boot.elf
mednafen/build/about_png.h
mednafen/build/boot.elf.map
mednafen/build/font_ttf.h
mednafen/build/icon_png.h
mednafen/build/wiimotenotsupported_png.h
Genesis-Plus-GX/genplus_wii.dol
Genesis-Plus-GX/genplus_wii.elf
Genesis-Plus-GX/build_wii/*.*
fceugx/executables/fceugx-wii.elf
fceugx/executables/fceugx-wii.dol
fceugx/build_wii/*.*
mgba/build_mgba/*.*
mgba/mgba.dol
mgba/mgba.elf
snes9xgx/executables/*.elf
snes9xgx/executables/*.dol
snes9xgx/build_wii/*.*
vbagx/executables/*.elf
vbagx/executables/*.dol
vbagx/build_wii/*.*
Nintendont/loader/loader.dol
wiisxr/Gamecube/*.dol
wiisxr/Gamecube/*.elf
wiisxr/Gamecube/build_debug/*.*
wiisxr/Gamecube/build_release/*.*
WiiSXRX/Gamecube/*.dol
WiiSXRX/Gamecube/*.elf
WiiSXRX/Gamecube/build_debug/*.*
WiiSXRX/Gamecube/build_release/*.*

WiiSXRX_Dma/Gamecube/build_debug/en_lang.h
WiiSXRX_Dma/Gamecube/build_debug/WiiSXRX_debug.elf.map
WiiSXRX_Dma/Gamecube/build_debug/zh_lang.h
WiiSXRX_Dma/Gamecube/build_release/en_lang.h
WiiSXRX_Dma/Gamecube/build_release/WiiSXRX_Release.elf.map
WiiSXRX_Dma/Gamecube/build_release/zh_lang.h
WiiSXRX_Dma/Gamecube/WiiSXRX_debug.dol
WiiSXRX_Dma/Gamecube/WiiSXRX_debug.elf
WiiSXRX_Dma/Gamecube/WiiSXRX_Release.dol
WiiSXRX_Dma/Gamecube/WiiSXRX_Release.elf
